section {
	padding: 3.9rem 0;
}

img {
	width: 100%;
	max-width: 100%;
}

a {
	text-decoration: none;
}

p {
	font-size: 1.6rem;
}

ul {
	list-style: none;
}

.btn {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: -2px;
}
